{% extends 'base.html' %}

{% block title %}Noticias - Movie Reviews{% endblock %}

{% block content %}
<div class="container my-5">
  <h1 class="text-center mb-4">Noticias</h1>

  <!-- Card horizontal para cada noticia -->
  {% for news in newss %}  
    <div class="card mb-3 shadow-sm rounded-3" style="max-width: 800px; margin: auto;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">{{ news.headline }}</h5>
            <p class="card-text">{{ news.body }}</p>
            <p class="card-text">
              <small class="text-muted">{{ news.date }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}