# ==========================
# Archivos de Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# ==========================
# Archivos de entorno / llaves
# ==========================
*.env
openAI.env
.env.local
.env.*.local

# ==========================
# Base de datos local
# ==========================
*.sqlite3

# ==========================
# Archivos de logs
# ===================
